
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container div {
  margin: 0.5rem;
}

.container div img {
  border-radius: 15%;
}

img:hover {
  cursor: pointer;
  filter: drop-shadow(-15px -15px 20px pink);
}

img:active {
  filter: drop-shadow(-15px -15px 20px pink);
}

/* .current-img {
  filter: drop-shadow(-15px -15px 20px pink);
} */

.dropdown-item {
  font-size: 18px;
}

.dropdown-item:hover {
  background: linear-gradient(white, pink, pink, pink, white);
}

.food-display {
  color: white;
  margin-top: 2rem;
}

.allergy-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
}

.allergy-div button {
  height: 47.98px;
}

.collapse {
  width: 80vw;
  margin: 0 auto;
}

.header-div {
  color: white;
  background-color: black;
  position: sticky;
  top: 0;
}

.sticky-top {
  position: sticky !important;
  top: 111px !important;
  background-color: black;
  padding-bottom: 1rem;
  width: 500px;
  margin: 0 auto;
  border-radius: 0 0 1rem 1rem;
}

.sticky-bottom {
  padding: 2rem;
  background-color: black;
  position: sticky; 
  bottom: 0;
  color: white;
  font-size: 20px;
}

.sticky-bottom div {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.sticky-bottom button {
  margin-left: 1rem;
}

/* .sticky-bottom div {
  border-style: dashed solid; 
  color: white;
  font-size: 20px;
} */

p {
  font-size: 20px;
}

.header-div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header-div h1 {
  margin: 0;
  padding: 2rem;
}

.button-div {
  width: 500px;
  margin: 0 auto;
  border-radius: 0% 0% 15% 15%;
}

.button-div button {
  margin: 0.5rem;
}

.display-div {
  color: white;
  background-color: black;
}

.card-body {
  background-color: black;
}

.form-inline {
  margin: 0.5rem auto;
}

.form-inline label {
  margin-right: 0.5rem;
  font-size: 20px;
}

.form-inline input {
  font-size: 20px;
}

.canvas-div .canvas-drawing-div {
  margin-left: auto;
  margin-right: auto;
}

.canvas-div button {
  margin: 0.5rem;
}


/* Default from React */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
